@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url("../public/fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

.grid-of-12-container {
    @apply grid grid-cols-12;
}

.title {
    @apply text-3xl lg:text-5xl text-secondary tracking-wider font-medium underline;
}

.article-landing {
    @apply w-full md:w-1/2 xl:w-1/4 p-5 md:hover:scale-110 transition-all;
}

.article-landing ul li {
    @apply list-inside text-xl;
    list-style-image: url('../src/assets/right-arrow.svg');
}

.article-title {
    @apply text-secondary text-2xl pb-3;
}

.card-tag {
    @apply absolute -top-3 -right-6 z-10 w-fit self-end p-1 mr-3 rounded-xl max-w-[100px] border-2 border-secondary;
}

.card-border {
    @apply bg-primary text-accent;
}

.secondary-button {
    @apply text-accent bg-secondary px-5 py-4 rounded-3xl text-center cursor-pointer hover:bg-opacity-80 text-xl;
}

.point-finger {
    @apply transition-[0.7s] my-auto group-hover:scale-150;
}

.form-label {
    @apply text-xl text-center;
}

.form-input {
    @apply p-3 rounded-2xl focus:outline-none text-black w-full;
}

.alert {
    @apply relative tracking-wider bottom-6 text-negative text-center text-lg bg-accent w-3/4 md:w-2/3 p-3 rounded-3xl mx-auto;
}

.cols-2-10 {
    @apply col-start-2 col-span-10;
}

.blog-container-grid-2-1 {
    @apply grid grid-cols-1 lg:grid-cols-2 p-8 pt-6 gap-16 items-center rounded-3xl;
}

.blog-title {
    @apply text-3xl pb-4 text-center underline;
}

.blog-image-mobile {
    @apply flex lg:hidden mx-auto border rounded-3xl;
}

.blog-image-desktop {
    @apply hidden lg:flex mx-auto border rounded-3xl;
}

.blog-text {
    @apply text-lg pt-5 text-center;
}