/* variables.css */

/* Default Palette */
:root {
  --primary: #1B3A57;
  --secondary: #F25F5C;
  --accent: #F7FFF7;
  --neutral: #f3e0cb;
  --textcolor: #262626;
  --negative: #DB0001;
}

:root[data-theme='dark'] {
  --primary: #1C1C1C; /* Dark slate color for background, like the night road */
  --secondary: #FF4500; /* Lamborghini's vibrant orange */
  --accent: #f9f6f6; /* Slightly lighter gray for subtle accents and backgrounds */
  --neutral: #535151; /* Neutral gray */
  --textcolor: #EFEFEF; /* Light color for text readability against the dark background */
  --negative: #FF6347; /* Tomato red for alertness in dark mode */
}
