.card {
  perspective: 1000px;
}

.card > div {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.front-of-card, .back-of-card {
  transition: transform 0.3s ease-in-out; /* Add transition here too */
}

.front-of-card {
  transform: rotateY(0deg);
}

.back-of-card {
  transform: rotateY(180deg);
}

.card.flipped .front-of-card {
  transform: rotateY(-180deg);
}

.card.flipped .back-of-card {
  transform: rotateY(0deg);
}
